body{
margin:0;
background:#141414;
font-family:Arial;
color:white;
}

header{
padding:20px 50px;
}

.logo{
color:#E50914;
font-size:35px;
font-weight:bold;
font-family:'Bebas Neue', sans-serif;
}

.hero{
position:relative;
height:520px;
overflow:hidden;
display:flex;
align-items:flex-end;
padding:80px 60px;
}

.hero-img{
position:absolute;
width:100%;
height:100%;
object-fit:cover;
top:0;
left:0;
filter:brightness(45%);
}

.hero::after{
content:"";
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
background:linear-gradient(
to top,
rgba(20,20,20,1) 10%,
rgba(20,20,20,0.8) 30%,
rgba(20,20,20,0.5) 60%,
rgba(20,20,20,0.2) 100%
);
}

.hero-content{
position:relative;
max-width:600px;
}

.original{
color:#E50914;
font-weight:bold;
letter-spacing:2px;
margin-bottom:10px;
}

.hero h1{
font-family:'Bebas Neue', sans-serif;
font-size:80px;
letter-spacing:4px;
margin-bottom:10px;
text-shadow:0 4px 20px rgba(0,0,0,0.9);
}

.hero p{
font-size:20px;
line-height:1.6;
color:white;
font-weight:500;
text-shadow:0 4px 15px rgba(0,0,0,0.9);
max-width:600px;
}

.row-section{
padding:30px 50px;
}

.row{
display:flex;
gap:15px;
}

.card{
position:relative;
}

.card img{
height:160px;
border-radius:6px;
transition:0.35s;
cursor:pointer;
}

.card:hover img{
transform:scale(1.15);
box-shadow:0 15px 40px rgba(0,0,0,0.8);
}

.card-title{
position:absolute;
bottom:8px;
left:8px;
background:rgba(0,0,0,0.55);
padding:3px 8px;
font-size:12px;
border-radius:4px;
max-width:80%;
}

#viewer{
display:none;
position:fixed;
background:black;
top:0;
left:0;
width:100%;
height:100%;
justify-content:center;
align-items:center;
}

#viewer img{
max-width:90%;
max-height:90%;
}

#intro{
position:fixed;
width:100%;
height:100%;
background:black;
display:flex;
justify-content:center;
align-items:center;
z-index:999;
animation:fade 3s forwards;
}

.netflix{
color:#E50914;
font-size:80px;
font-family:'Bebas Neue', sans-serif;
letter-spacing:5px;
}

@keyframes fade{
0%{opacity:1}
80%{opacity:1}
100%{opacity:0;visibility:hidden}
}
